* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

}

.main {
    background-color: rgb(255, 255, 255);
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    transition: all 0.2s;
}

.navbar.scrolled-down {
    color: black;
    height: 82px;
    background-color: white;
}

.navmain1container {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.navmainimgcontainer {
    width: 50px;
    height: 50px;
}

.navmain2container {
    margin: 5px;
}

.navmainparagraph1container {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: large;
}

.navmainparagraph2container {
    margin: 0px;
    padding: 0px;
    font-size: medium;
}

.navul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.navulli1 {
    color: white;

}

.navulli2 {
    color: black;

}

a {
    list-style: none;
    text-decoration: none;
    font-size: larger;
}

/* maincontainer */
.maincontianercrousal {
    width: 100vw;
    height: 1100px;
    background-image: url('https://cse23.xyz/assets/img/hero/hero-bg.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maincontianercrousaldissupport {

    height: 15%;
    background-color: orange;
}

.maincontianercrousaldis {
    height: 12%;
}

.maincontainer {
    width: 100vw;
    height: 450px;
}

.mainheading {
    
    font-size: 55px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: white;

}

.mainheadingpara {
    margin-top: 20px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;

}

.getstartbutton {
    margin-top: 20px;
    position: relative;
    background-color: white;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    border: none;
    color: rgb(97, 97, 238);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden; 
    z-index: 1; 
}

.getstartbutton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background: rgba(0, 0, 0, 0.05);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-out;
    z-index: -1;
}

.getstartbutton:hover::after {
    transform: translate(-50%, -50%) scale(2);
}

.additionalcontainer {
    height: 100px;
}

.maincontainer {
    display: flex;
    justify-content: center;
}

.main1container {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.subcontainer1 {
    max-width: 40%;
    height: 290px;
    padding: 10px;
    overflow-y: hidden;
    margin-right: 40px;
}

.subcontainer2 {
    padding: 15px;
    max-width: 20%;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.056);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.subcontainer3 {
    padding: 15px;
    max-width: 20%;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.maincontianerpara1 {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bolder;
    color: rgb(37, 37, 67);
}

.maincontianerpara2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(78, 78, 103);
}

.maincontianerpara3 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(37, 37, 67);
}

.maincontianerpara4 {

    font-size: 20px;
    font-weight: bold;
    color: rgb(78, 78, 103);
}

.maincontianerpara5 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(37, 37, 67);
}

.maincontianerpara6 {

    font-size: 20px;
    font-weight: bold;
    color: rgb(78, 78, 103);
}

.cloudconcontainer {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: 0%;
    color: blue;
    margin-bottom: 15px;
}

.rocketconcontainer {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: 0%;
    color: blue;
    overflow-y: hidden;
    margin-bottom: 15px;
}
.main2container{
    
    width: 100%;
    display: flex;
    justify-content: center;
     
}
.subimgcontainer4{
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    object-fit: cover;
   
    
}
.subcontainer4{
    width: 40%;
    overflow: hidden;
    margin-left: 20px;

}
.sub3container{
    margin-left: 20px;
    width: 40%;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
   
}
.main2contianerpara1{
    font-size: 50px;
    font-weight: bolder;
}
.main2contianerpara2{
    font-size: 20px;
    font-weight:600;
    line-height: 27px;
    color: rgb(91, 91, 135);
}
.maincontainer3{
   
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: self-end;
    
}
.main1container3{
    width: 85%;
    height: 80%;
}
.mainsubcontainer3{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.heading3{
     font-size: 45px;
     font-weight: bold;
}
.contributebutton {
    margin-top: 20px;
    position: relative;
    background-color:blue;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden; 
    z-index: 1; 
}

.contributebutton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background: rgba(0, 0, 0, 0.05);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-out;
    z-index: -1;
}

.contributebutton:hover::after {
    transform: translate(-50%, -50%) scale(2);
}
.para3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(91, 91, 135);
    line-height: 30px;
}